.time{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.applesauce{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hom{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}